{% extends "base.html" %}

{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src= "/static/flipclock/flipclock.min.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

	{% load chartit %}

	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
	<script type="text/javascript">
		var clock;	
		$(document).ready(function() {
			clock = $('.clock').FlipClock({
				clockFace: 'TwentyFourHourClock'
			});
		});
	</script>
</head>
<body>


<form action="/ajustes/" method="post">{% csrf_token %}


<tr><th><label for="id_Temperatura">Temperatura:</label></th><td><input value = "{{temp}}" id="id_Temperatura" name="Temperatura" step="0.5" type="number" /></td></tr>
<tr><th><label for="id_Humedad">Humedad:</label></th><td><input value = "{{hum}}"id="id_Humedad" name="Humedad" step="0.5" type="number" /></td></tr>
<tr><th><label for="id_Dias">Dias:</label></th><td><input value = "{{dias}}"id="id_Dias" name="Dias" step="1" type="number" /></td></tr>


<input type="submit" name="submit" value="Guardar">
</form>

</body>
</html>
{% endblock %}
