{% extends "base.html" %}


{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src= "/static/flipclock/flipclock.min.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

	{% load chartit %}

	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'ajustes.css' %}" />
	<!--<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />-->

</head>
<body>


<form class="formulario" action="/ajustes/" method="post">{% csrf_token %}

<div class="inputs">
<label for="id_Temperatura">Temperatura:</label><input value = "{{temp}}" id="id_Temperatura" name="Temperatura" step="0.5" type="number" />
</div>

<div class="inputs">
<label for="id_Humedad">Humedad:</label><input value = "{{hum}}"id="id_Humedad" name="Humedad" step="0.5" type="number" />
</div>

<div class="inputs">
<label for="id_Dias">Dias:</label><input value = "{{dias}}"id="id_Dias" name="Dias" step="1" type="number" />
</div>

<input type="submit" class="btn btn-primary" name="submit" value="Guardar">
</form>

</body>
</html>
{% endblock %}
