{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>SmartFIC{% block title %}{% endblock %}</title>
		<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "flipclock/flipclock.css" %}" rel="stylesheet">
		<link rel="icon" type="image/png" href="../static/images/favicon.png" />
		

	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">SmartFIC</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="/home">Home</a>
						</li>
						<li>
							<a href="/maxmin">Estadísticas</a>
						</li>
						<li>
							<a href="/maxmin7dias">7 días</a>
						</li>
						<li>
							<a href="/ajustes">Ajustes</a>
						</li>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<header></header>
		<center>
			<h1></h1>
			{% block content %}{% endblock %}
		</center>
	<footer class="footer">
		<p>
			TFG: Rede sensorial sen fíos
		</p>
		<p>
			Contacto: adrianlopez00@gmail.com
		</p>
	</footer>
	</body>
	
</html>
