{% load static %}

body {
	background-color: #908E8E;
	background: linear-gradient(#908E8E, #B5B5B5);
	margin: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
#container7dias {
	width: 50vw;
	height: 40vh;
}
