header {
	background:#3C3C3C;
	color:#FFF;
	height:6vh;
	font-size:5vh;
	line-height:5vh;
	font-weight:900;
}

.navbar-brand {
	float:left;
	height:50px;
	font-size:18px;
	line-height:5vh;
	padding:15px;
}

.footer {
	position:fixed;
	width:100vw;
	height:7vh;
	bottom:0;
	left:0;
	background-color:#3C3C3C;
	text-align:center;
	color:#FFF;
	display:flex;
	align-items:center;
	justify-content:center;
}

.footer p {
	margin-right:40px;
}

#container {
	width:50vw;
	height:40vh;
	margin-top:5vh;
	margin-bottom:80px;
}

.led {
	border-radius:50%;
	max-width:14vw;
	max-height:29vh;
	vertical-align:baseline;
}

.ledContainer {
	position:relative;
	display:inline-block;
	width:14vw;
	height:29vh;
	cursor:pointer;
}

.humContainer {
	position:relative;
	height:25vh;
	display:inline-block;
	width:23%;
	background-image:url(./images/gota.png);
	background-repeat:no-repeat;
	background-position:center center;
}

.tempContainer {
	position:relative;
	height:25vh;
	display:inline-block;
	width:32vh;
	background-image:url(./images/termo.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:25vh;
}

.nav li a {
	color:#000;
	height:6vh;
	width:16vh;
	text-decoration:none;
	line-height:20px;
	display:block;
	font-weight:600;
	text-align:center;
	padding:30px 12px;
}

@media max-width 920px{
	#medidores {
		display:flex;
		flex-direction:column;
	}
	.footer {
		flex-direction:column;
	}
}
